asgiref==3.7.2
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
cryptography==41.0.1
Django==4.2.2
django-cors-headers==3.11.0
django-filter==23.2
django-spa==0.3.6
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
djwto==0.0.4
gunicorn==20.1.0
idna==3.4
Markdown==3.4.3
Pillow==9.5.0
pycparser==2.21
PyJWT==2.7.0
pytz==2023.3
RandomWords==0.4.0
requests==2.31.0
sqlparse==0.4.4
typing_extensions==4.6.3
tzdata==2023.3
urllib3==2.0.3
whitenoise==5.3.0
