#game-detail-modal {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10vh;
  border-radius: 10px;
}

.game-detail-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(2px);
}

.game-detail-content {
  background: #373952;
  outline: none;
  border-radius: 10px;
  border: 20px solid #1a1b28;
  height: min-content;
}

.modal-container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  background-color: #1a1b28;
  flex-grow: 1;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
}

#left-column {
  width: 75%;
}

#right-column {
  width: 25%;
}

.cell {
  padding: 1%;
  margin: 1%;
  flex-grow: 1;
}

#game-detail-title {
  margin-left: 10px;
  color: #767a8e;
}

#game-area {
  height: auto;
}

#big-game-img {
  width: 100%;
  border-radius: 10px;
}

#game-pictures {
  height: 100%;
  max-height: 175px;
}

.game-picture {
  max-width: 100%;
  height: auto;
  max-height: 175px;
  border-radius: 10px;
}


#description {
  height: auto;
  color: rgb(118, 122, 142);
}

#leaderboard {
  width: 100%;
}

#play-options {
  height: 75px;
  padding: 1%;
}

#play-against-friend {
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-decoration: none;
  box-sizing: border-box;
  padding: 8px 16px;
  background: rgb(55, 57, 82);
  color: #f9faff;
  height: 60px;
}

#play-against-computer {
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  box-sizing: border-box;
  padding: 8px 16px;
  background: #373952;
  color: #f9faff;
  height: 60px;
}