.modal {
  background-color: gray;
  width: 100%;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10vh;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.row {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
}

#left-column {
    width: 75%;
}

#right-column {
    width: 25%;
}

.cell {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px;
  flex-grow: 1;
}

#game-area {
    height: 400px;
}

#game-pictures {
    height: 150px;
}

#play-options {
    height: 75px;
}

#description {
    height: 200px;
}