nav {
  background-color: #1f2030;
  padding: 10px;
}

nav ul {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav ul li a {
    border: none;
    background-color: #767a8e;
    color: #1f2030;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}
