#chat-component {
    background-color: #1a1a1d;
    width: 100%;
    height: 25vh;
    border-radius: 10px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #343a40;
    color: #ddd;
    padding: 15px;
    box-sizing: border-box;
}

#chat-component::-webkit-scrollbar {
    width: 8px;
}

#chat-component::-webkit-scrollbar-thumb {
    background-color: #343a40;
    border-radius: 10px;
}

#message-area {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.message {
    max-width: 60%;
    min-width: 100px;
    background-color: #343a40;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    color: #ddd;
    word-wrap: break-word;
    box-sizing: border-box;
    align-self: flex-start;
}

.message.current-user {
    align-self: flex-end;
    background-color: #5a6268;
}

#player-one-form {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#player-one-form input {
    flex-grow: 1;
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin-right: 10px;
    box-sizing: border-box;
}

#player-one-form button {
    border: none;
    background-color: #5a6268;
    color: #ddd;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

#player-one-form button:hover {
    background-color: #343a40;
}
